{% extends 'side_panel-navbar_dashboard.html' %}
{% load static %}
{% load first_letter_word %}
{% load course_components %}

{% block content %}

{% block analytics-text %}
<h1>{{ course.code }}</h1>
<p>{{ course.name }} ({{ course.name|first_letter_word }})</p>
{% endblock %}

{% block view-course %}

{% comment %}
<style>
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

/* body {
	font-family: sans-serif;
	background: #f6f9fa;
} */

/*Fun begins*/
.tab_container {
	width: 90%;
	margin: 0 auto;
	padding-top: 70px;
	position: relative;
}

input[type="radio"], .tab-section {
  clear: both;
  padding-top: 10px;
  display: none;
}

.tab-labels {
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  width: 20%;
  padding: 1.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6 {
  display: block;
  padding: 20px;
  background: #fff;
  color: #999;
  border-bottom: 2px solid #f0f0f0;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3  {
  text-align: center;
}

.tab_container [id^="tab"]:checked + .tab-labels {
  background: #fff;
  box-shadow: inset 0 3px #0CE;
}

.tab_container [id^="tab"]:checked + .tab-labels .fa {
  color: #0CE;
}

.tab-labels .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 900px) {
  .tab-labels span {
    display: none;
  }
  
  .tab_container {
    width: 98%;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
  	transform: scale(0.9);
  	opacity: 0;
  }
  
  100% {
  	transform: scale(1);
  	opacity: 1;
  }
}
</style>
{% endcomment %}

<style>
{% for i in courseComponent %}
#tab{{ forloop.counter }}:checked ~ #content{{ forloop.counter }}{% if forloop.last %} {% else %},{% endif %}
{% endfor %}
{
    display: block;
    padding: 20px;
    background: #fff;
    color: #999;
    border-bottom: 2px solid #f0f0f0;
}

#tab{{ courseComponent|length|add:"1" }}:checked ~ #content{{ courseComponent|length|add:"1" }}
{
    display: block;
    padding: 20px;
    background: #fff;
    color: #999;
    border-bottom: 2px solid #f0f0f0;
}
</style>

<h4>Course Short Info</h4>
{{ course.course_short_info }}
<br>
<h4>What you will learn</h4>
{{ course.course_wywl }}
<br>
<h4>Skills you will gain</h4>
{{ course.course_sywg }}
<br>
<h4>Course Desciption</h4>
{{ course.course_desc }}
<br>
<h4>Course Co-Ordinator</h4>
{{ course.course_coordinator }}
<br>
<h4>Course Offered by </h4>
{{ course.branch }}
<br>
<h4>Course Duration</h4>
{{ course.semester }}
<br>
<h4>Course Specialization</h4>
{{ course.specialization }}
<br>
<h4>Course Files</h4>
{% for i in courseFilesObjs %}
<a href="{{ i.course_files.url }}" download="{{ i.course_files.name|slice:'13:' }}">{{ i.course_files.name|slice:"13:" }}</a>
{% empty %}
<p>No files uploaded</p>
{% endfor %}
<br>
<h4>Action</h4>
<a href="{% url 'delete_course' course.id %}">Delete Course</a>

<div class="tab_container">
    {% for i in courseComponent %}
    <input id="tab{{ forloop.counter }}" type="radio" name="tabs" {% if forloop.counter == 1 %} checked {% endif %}>
    <label class="tab-labels" for="tab{{ forloop.counter }}"><i class="fa-regular fa-folder"></i><span>{{ i.name }}</span></label>
    {% endfor %}
    
    <input id="tab{{ courseComponent|length|add:"1" }}" type="radio" name="tabs">
    <label class="tab-labels" for="tab{{ courseComponent|length|add:"1" }}"><i class="fa-solid fa-folder-plus"></i>&nbsp;&nbsp;<span>Create</span></label>

    {% for i in courseComponent %}
    <section id="content{{ forloop.counter }}" class="tab-content tab-section">
        <h4>Total Submissions: 48</h4>
        <h4>Still 4 Members</h4>
        {% for j in i.id|subComponent %}
        <details>
            <summary>{{ j.sub_component.name }}</summary>
            {{ j }}
            <a href="{% url 'submitSolutionPage' j.id %}">Submit the Solution</a>
        </details>
        {% endfor %}
    </section>
    {% endfor %}

    <section id="content{{ courseComponent|length|add:"1" }}" class="tab-content tab-section">
        <h4>Course Component</h4>
        <form action="{% url 'course_component' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="course" id="id_course" value="{{ course.id }}" placeholder="Course" required>
            <input type="text" name="component" id="id_component" placeholder="Name" required>
            <input type="text" name="desc" id="id_desc" placeholder="description" required>
            <input type="submit">
        </form>
        <hr>
        <h4>Sub Components</h4>
        <form action="{% url 'sub_component' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="course" id="id_course" value="{{ course.id }}" required>
            <select name="component" id="id_component">
                <option value="">Select Component</option>
                {% for i in courseComponent %}
                <option value="{{ i.id }}">{{ i.name }}</option>
                {% endfor %}
            </select>
            <input type="text" name="sub_component" id="id_sub_component" placeholder="Name" required>
            <input type="text" name="desc" id="id_desc" placeholder="description" required>
            <input type="submit">
        </form>
        <hr>
        <h4>Course Task</h4>
        <form action="{% url 'course_task' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="course" id="id_course" value="{{ course.id }}" required>
            <select name="component-course-task" id="id_component">
                <option value="">Select Component</option>
                {% for i in courseComponent %}
                <option value="{{ i.id }}">{{ i.name }}</option>
                {% endfor %}
            </select>
            <select name="subcomponent" id="id_subcomponent-get">
                <option value="">Select Sub Component</option>
                {% for i in courseSubComponent %}
                <option value="{{ i.id }}">{{ i.name }}</option>
                {% endfor %}
            </select>
            <textarea name="question" id="id_question" cols="30" rows="10"></textarea>
            <input type="submit">
        </form>
    </section>
</div>

<script>
    $("select[name = 'component-course-task']").change(function () {
        const componentId = $(this).val();
        console.log(componentId);
        $.ajax({
            type: "POST",
            url: '{% url "subComponentsbyComponents" %}',
            data: {
                'component': componentId,
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                let html_data = '<option value=""> Select Sub Component </option>';
                data.forEach(function (data) {
                    html_data += `<option value="${data.id}">${data.name}</option>`
                });
                $("#id_subcomponent-get").html(html_data);
            }
        });
    });
  </script>
{% endblock %}

{% endblock %}